@import '../node_modules/foundation-sites/scss/foundation';
@include foundation-global-styles;
@include foundation-grid;

$primary-color: #1F334B;
$secondary-color: #8FADBF;

$md-screen: 480px;


body {
	&>div {
		@include grid-row();
	}
}

h1, h2, h3 {
	color: $primary-color;
}

h2 {
	@include breakpoint($md-screen) {
		border-bottom: 2px dashed $secondary-color;
	}
}

#top-bar {
	background-color: $secondary-color;
	color: $primary-color;
	
	header {
		@include grid-row();
		
		@include breakpoint($md-screen) {
			display: flex;
			align-items: center;
		}
	}
	
	h1 {
		@include grid-column(12);
		text-align: center;
		
		@include breakpoint($md-screen) {
			text-align: left;
		}
	}
	
	#user-stats {
		@include grid-column(12);
		display: flex;
		justify-content: space-around;
		
		@include breakpoint($md-screen) {
			justify-content: flex-end;
		}
		
		p {
			margin: 0;
		}
		
		p.label {
			line-height: 1.2rem;
			font-weight: bold;
		}
		
		div {
			text-align: center;
			
			@include breakpoint($md-screen) {
				margin-left: 20px;
			}
		}
		
		#balance, #items {
			color: white;
			font-size: 2rem;
		}
	}
	
}

#line-graph {
	height: 200px;
	width: 100%;
	margin-bottom: 2rem;
}

#market-stats {
	@include grid-column(12);
	padding-bottom: 2rem;
	border-bottom: 2px dashed $secondary-color;
	
	@include breakpoint($md-screen) {
		@include grid-column(7);
		border-bottom: none;
	}
	
	label {
		font-weight: bold;
	}
	
	p.checkbox {
		margin: 5px 0;
		
		input {
			padding: 4px;
			max-width: 60px;
		}
	}
}

#transactions {
	@include grid-column(12);
	@include breakpoint($md-screen) {
		@include grid-column(5);
	}
	
	input {
		padding: 7px 0 7px 10px;
	}
	
	button {
		background-color: $primary-color;
		color: white;
		padding: 10px 20px;
		font-weight: bold;
		width: auto;
	}
	
}
